body {
  font: 16px "Roboto", "Calibri", "Arial", sans-serif;
  background: floralwhite;
  color: #252525;
  margin: 0;
  padding: 0; }
  body > header, body article {
    margin: 0;
    float: left;
    clear: both; }

#controls {
  display: block;
  width: 100%;
  background: darkseagreen; }
  #controls button {
    background: transparent;
    color: floralwhite;
    border: 1px solid floralwhite;
    font-size: 20px;
    padding: 0.5em; }
    #controls button[disabled="true"] {
      color: gray;
      border-color: gray; }
  #controls h1, #controls h2, #controls h3 {
    font-size: 1.25em; }

.stats-bars {
  list-style: none;
  width: auto;
  display: block;
  float: left;
  font-family: "Ubuntu Mono",monospace; }
  .stats-bars li {
    width: auto;
    max-width: 15%;
    background: wheat;
    position: relative;
    float: left;
    margin: 4px;
    margin-top: 4rem; }
    .stats-bars li dl dt {
      font-weight: bold;
      background: #ecc16f; }
    .stats-bars li dl dd:hover {
      background: #ff0; }
    .stats-bars li abbr {
      width: 100%;
      clear: both;
      display: block; }
    .stats-bars li:before {
      content: attr(data-day);
      position: absolute;
      right: 0;
      left: 0;
      height: 2rem;
      line-height: 2rem;
      top: -2rem;
      background: indianred;
      color: white; }
    .stats-bars li:focus {
      width: 100%;
      clear: both; }

#graphs {
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -ms-transform: rotateX(180deg);
  -o-transform: rotateX(180deg);
  transform: rotateX(180deg);
  border: 1px solid gray; }

#csv {
  display: none; }

details {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
