body{
  font:$font-size $font-stack;
  background: $bg;
  color:$color;
  margin:0;
  padding:0;
  >header,article {
    margin:0;
    float:left;
    clear:both;
  }
}
#controls{
  display: block;
  width:100%;
  background:$bg-2;
  button{
    background:transparent;
    color:$color-2;
    border:1px solid $color-2;
    font-size:$font-size*1.25;
    padding:0.5em;
    &[disabled="true"]{
      color:gray;
      border-color:gray
    }
  }
}

.stats-bars{
  list-style:none;
  width:auto;
  display: block;
  float:left;
  font-family:"Ubuntu Mono",monospace;
  li{
    width:$bar-width;
    max-width:$bar-max-width;
    background:$bar-bg;
    position:relative;
    float:left;
    margin:4px;
    margin-top:$bar-label-height*2;
    dl{
      dt{
        font-weight:bold;
        background:darken($bar-bg,15%);
      }
      dd{
        &:hover{
          
      background:#ff0;
      
        }
      }
    }
    abbr{
      width:100%;
      clear:both;
      display:block;
      
    }
    &:before{
      content:attr(data-day);
      position:absolute;
      right:0;
      left:0;
      height:$bar-label-height;
      line-height:$bar-label-height;
      top:-$bar-label-height;
      background: $bar-label-bg;
      color: $bar-label-color;
    }
   &:focus{
     width:100%;
     clear:both;
   }
  }
  
}
#graphs{
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -ms-transform: rotateX(180deg);
  -o-transform: rotateX(180deg);
  transform: rotateX(180deg);
  border:1px solid gray
}

#csv{
  display:none
}
details{width:100%;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;}
