$font-stack:"Roboto Thin","Roboto Th","Ubuntu Light",sans-serif;
$font-size:16px;
$bg:floralwhite;
$color:#252525;
$bg-2:darkseagreen;
$color-2:floralwhite;
//stats view
$bar-width:auto;
$bar-max-width:15%;
$bar-bg:wheat;
$bar-label-height:2rem;
$bar-label-bg:indianred;
$bar-label-color:white;
